html {
    display: block;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    min-width: 600px;
    min-height: 100%;
    margin: 0 auto;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 18px;
    padding: 40px;
    background-color: #C2C4B6;
    color: black;
}

.main {
    max-width: 1024px;
    margin: 20px auto;
    display: flex;
    box-shadow: 1px 81px 100px 5px rgb(0 0 0 / 49%);
    border: none;
}



.left-side {
    width: 38%;
    color: white;
    background-color: #fbf2f6a1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    align-items: stretch;
}

.content {
    flex:1;
}

.photo {
    width: 330px;
}

.section-logo img {
    padding: 30px;
    border: none ;
    border-radius: 50%;
}




section {
    display: block;
}

.section-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    width: 136px;
    margin: 10px auto 5px;
    padding: 5px 20px;
    letter-spacing: 1px;
    color: #2f2e2e;
    background-color: var(--dark-gray-color);
    letter-spacing: 5px;
}

hr {
    width: calc(62% - 20px);
    background-color: #DAFEA4;
    height: 2px;
}

.section-item {
    margin-bottom: 10px;
    list-style: none;
    color: black;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #657651;
}


.section-item img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}


.section-skills li {
    vertical-align: middle;
    margin: 10px 30px;
    color: #4d4d4d;
}


.footer-list {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.footer-item img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 50%;
}


.right-side {
    width: 62%;
    color: #4d4d4d;
    background-color: #f2f3ec;
}

h1 {
    font-size: 40px;
    margin: 20px 20px 0px;
    text-align: center;
    letter-spacing: 5px;
}


h2{
    margin: 0px;
    text-align: center;
}

.section-profile h2 {
    margin: 0px;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
}

.section-summary p {
    vertical-align: middle;
    margin: 0px 35px 0px;
}

.section-languages {
    vertical-align: middle;
    margin: 0px 35px 0px;
}

.section-education p {
    vertical-align: middle;
    margin: 20px 55px;
}

.section-code {
    vertical-align: middle;
    margin: 0px 35px 0px;
    white-space: pre;
}
